<table>
    <thead>
        <tr>
            <th>Назва</th>
            <th>Кількість</th>
            <th>Опис</th>
            <th>Тип</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        <% materials.forEach(material=> { %>
            <tr>
                <td>
                    <%= material.name %>
                </td>
                <td>
                    <%= material.quantity %>
                </td>
                <td>
                    <%= material.description %>
                </td>
                <td>
                    <%= material.type %>
                </td>
                <td class="actions">
                    <form action="/materials/<%= material._id %>/edit" method="get">
                        <button type="submit" class="button edit">Редагувати</button>
                    </form>
                    <form action="/materials/<%= material._id %>/delete" method="post">
                        <button type="submit" class="button delete">Видалити</button>
                    </form>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>